<?php

use Arrilot\BitrixMigrations\BaseMigrations\BitrixMigration;
use Arrilot\BitrixMigrations\Exceptions\MigrationException;
use Bitrix\Highloadblock\HighloadBlockTable;

class __className__ extends BitrixMigration
{
    protected $table = '';

    public function up()
    {
        $this->db->dropTable($this->table);
    }
}
