<?php

use Arrilot\BitrixMigrations\BaseMigrations\BitrixMigration;
use Arrilot\BitrixMigrations\Exceptions\MigrationException;
use Bitrix\Highloadblock\HighloadBlockTable;

class __className__ extends BitrixMigration
{
    public function up()
    {
        $sql = '';

        $this->db->query($sql);
    }

    public function down()
    {
        return false;
    }
}
